<!----------ALERT MESSAGE------------------------- -->
<div>
  <app-alert [alertMessage]="alertMessage"></app-alert>
</div>

<!----------REPORT HEADER------------------------- -->
<app-dashboard-dashboard-header [userSelection]="userSelection"
                                [selectorVisibleFields]="selectorVisibleFields"
                                [timerConnected]="timerConnected"
                                [historic]="historic"
                                (returnResult)="onReturnHeaderResult($event)">
</app-dashboard-dashboard-header>


<section class="main-button" *ngIf="!show">
  <div>
    <h1>Obteniendo datos del servidor...</h1>
  </div>

</section>


<!-- HISTORIC -->
<main class="main" *ngIf="show">

  <!-- HIGHLIGHTS -->
  <section class="highlights">
    <article>
      <!-- <p class="small"> HIGHLIGHTS </p> -->
      <app-dashboard-outbound-highlights-historic [rows]="rows">
      </app-dashboard-outbound-highlights-historic>
    </article>
  </section>





  <section *ngIf="rows">
    <div class=" board">
      <article class="pane">
        <app-dashboard-outbound-calls [rows]="rows">
        </app-dashboard-outbound-calls>
      </article>

      <article>
        <app-dashboard-outbound-levels [rows]="rows">
        </app-dashboard-outbound-levels>
      </article>

      <article>
        <app-dashboard-dashboard-outbound-agents-historic [rows]="rows">
        </app-dashboard-dashboard-outbound-agents-historic>
      </article>

      <article>
        <app-dashboard-dashboard-outbound-breaks-historic [rows]="rows">
        </app-dashboard-dashboard-outbound-breaks-historic>
      </article>
    </div>
  </section>