
<section id="selector">
  <div class="main-container">

    
                <form [formGroup]="selectorForm" (ngSubmit)="onSubmit()">

                  <div class="register-form">
                    <main id="selector" class="selector">
                        <section class ="selector-areas">

                          <article id="Dates">

                              <div>
                                  <small>Fecha de inicio</small>
                                  <div>
                                  <input
                                  type="text"
                                  name="dp1"
                                  ngbDatepicker #d="ngbDatepicker"
                                  (click)="d.toggle()"
                                  formControlName="start_date"
                                  (ngModelChange)="onChange()"
                                  />
                                </div>

                              </div>

                              <div>
                                  <small>Fecha final</small>
                                  <div>
                                  <input
                                  type="text"
                                  name="dp2"
                                  ngbDatepicker #e="ngbDatepicker"
                                  (click)="e.toggle()"
                                  formControlName="end_date"
                                  (ngModelChange)="onChangeDate()"
                                  />
                                </div>

                              </div>

                              <div>
                                  <small>Hora inicio</small>
                                  <ng-select
                                    [items]="menuOptions.start_time"
                                  
                                    bindLabel="name" placeholder="Hora inicio"
                                    [dropdownPosition]="'auto'"
                                    [searchable]="false"
                                    (change)="onChange()"
                                    [clearable]="false"
                                    [multiple]="false"
                                    hideSelected="true"
                                    formControlName="start_time">
                                  </ng-select>
                              </div>
                    
                              <div>
                                  <small>Hora final</small>
                                  <ng-select
                                    [items]="menuOptions.end_time"
                                  
                                    bindLabel="name" placeholder="Hora final"
                                    [dropdownPosition]="'auto'"
                                    [searchable]="false"
                                    (change)="onChange()"
                                    [clearable]="false"
                                    [multiple]="false"
                                    hideSelected="true"
                                    formControlName="end_time">
                                  </ng-select>
                              </div>
                    
                              <div>
                                <small>Líneas</small>
                                <ng-select
                                  [items]="menuOptions.reportlines"
                                
                                  bindLabel="name" placeholder="Líneas"
                                  [dropdownPosition]="'auto'"
                                  [searchable]="false"
                                  (change)="onChange()"
                                  [clearable]="true"
                                  [multiple]="true"
                                  hideSelected="true"
                                  formControlName="end_time">
                                </ng-select>
                            </div>

                            <div>
                                <small>Invervalo</small>
                                <ng-select
                                  [items]="menuOptions.interval"
                                
                                  bindLabel="name" placeholder="Intervalo"
                                  [dropdownPosition]="'auto'"
                                  [searchable]="false"
                                  (change)="onChange()"
                                  [clearable]="true"
                                  [multiple]="true"
                                  hideSelected="true"
                                  formControlName="end_time">
                                </ng-select>
                            </div>

                            <div>
                                <small>Ultimos minutos</small>
                                <ng-select
                                  [items]="menuOptions.last_minutes"
                                
                                  bindLabel="name" placeholder="Ultimos minutos"
                                  [dropdownPosition]="'auto'"
                                  [searchable]="false"
                                  (change)="onChange()"
                                  [clearable]="true"
                                  [multiple]="true"
                                  hideSelected="true"
                                  formControlName="end_time">
                                </ng-select>
                            </div>
                          </article>
                    
                          <article>
                    
                              <div>
                                  <small>Supervisor</small>
                                  <ng-select
                                    [items]="menuOptions.supervisor"
                                  
                                    bindLabel="name" placeholder="Supervisor"
                                    [dropdownPosition]="'auto'"
                                    [searchable]="false"
                                    (change)="onChange()"
                                    [clearable]="true"
                                    [multiple]="true"
                                    hideSelected="true"
                                    formControlName="end_time">
                                  </ng-select>
                              </div>

                              <div>
                                  <small>Agente</small>
                                  <ng-select
                                    [items]="menuOptions.agent"
                                  
                                    bindLabel="name" placeholder="Agente"
                                    [dropdownPosition]="'auto'"
                                    [searchable]="false"
                                    (change)="onChange()"
                                    [clearable]="true"
                                    [multiple]="true"
                                    hideSelected="true"
                                    formControlName="end_time">
                                  </ng-select>
                              </div>

 
                              <div>
                                  <small>Turno</small>
                                  <ng-select
                                    [items]="menuOptions.schedule"
                                  
                                    bindLabel="name" placeholder="Turno"
                                    [dropdownPosition]="'auto'"
                                    [searchable]="false"
                                    (change)="onChange()"
                                    [clearable]="true"
                                    [multiple]="true"
                                    hideSelected="true"
                                    formControlName="end_time">
                                  </ng-select>
                              </div>
                    
                    
                          </article>
                    
                    
                          <article>

                              <div>
                                  <small>Clientes</small>
                                  <ng-select
                                    [items]="menuOptions.client"
                                  
                                    bindLabel="name" placeholder="Clientes"
                                    [dropdownPosition]="'auto'"
                                    [searchable]="false"
                                    (change)="onChange()"
                                    [clearable]="true"
                                    [multiple]="true"
                                    hideSelected="true"
                                    formControlName="client">
                                  </ng-select>
                              </div>
                    
                              <div>
                                  <small>Cola</small>
                                  <ng-select
                                    [items]="menuOptions.queue"
                                  
                                    bindLabel="name" placeholder="Cola"
                                    [dropdownPosition]="'auto'"
                                    [searchable]="false"
                                    (change)="onChange()"
                                    [clearable]="true"
                                    [multiple]="true"
                                    hideSelected="true"
                                    formControlName="end_time">
                                  </ng-select>
                              </div>
                    
                              <div>
                                  <small>Servicio</small>
                                  <ng-select
                                    [items]="menuOptions.service"
                                  
                                    bindLabel="name" placeholder="Servicio"
                                    [dropdownPosition]="'auto'"
                                    [searchable]="false"
                                    (change)="onChange()"
                                    [clearable]="true"
                                    [multiple]="true"
                                    hideSelected="true"
                                    formControlName="end_time">
                                  </ng-select>
                              </div>
                    
                              <div>
                                  <small>Campaña</small>
                                  <ng-select
                                    [items]="menuOptions.campaign"
                                  
                                    bindLabel="name" placeholder="Campaña"
                                    [dropdownPosition]="'auto'"
                                    [searchable]="false"
                                    (change)="onChange()"
                                    [clearable]="true"
                                    [multiple]="true"
                                    hideSelected="true"
                                    formControlName="end_time">
                                  </ng-select>
                              </div>
                    
                    
                          </article>
                    
                  
                        </section>
                    
                      </main>

                      
   
                  </div>

                </form>


  </div>
</section>
