<!----------ALERT MESSAGE------------------------- -->
<div>
  <app-alert [alertMessage]="alertMessage"></app-alert>
</div>


<!----------REPORT HEADER------------------------- -->
<div *ngIf="userSelection">
<app-dashboard-dashboard-header [userSelection]="userSelection"
                                [selectorVisibleFields]="selectorVisibleFields"
                                [timerConnected]="timerConnected"
                                [historic]="historic"
                                (returnResult)="onReturnHeaderResult($event)">
</app-dashboard-dashboard-header>
</div> 
<!----------CLOCK SPACE------------------------- -->
<section class="main-button">
  <div>

  </div>
  <div class="clock ml-auto">
    <a>
      <fa-icon [icon]="faClock"></fa-icon> &nbsp; {{timerConnected}}
    </a>
  </div>
</section>

<section class="main-button" *ngIf="!show">
  <div>
    <h1>Obteniendo datos del servidor...</h1>
  </div>

</section>


<!-- TODAY -->
<main class="main" *ngIf="rows && show">
  <!-- HIGHLIGHTS -->
  <section class="highlights">
    <article>
      <app-dashboard-inbound-highlights [rows]="rows">
      </app-dashboard-inbound-highlights>
    </article>
  </section>

  <section *ngIf="rows">
    <div class="board">
      <article class="pane">
        <app-dashboard-inbound-calls [rows]="rows">
        </app-dashboard-inbound-calls>
      </article>

      <article>
        <app-dashboard-inbound-levels [rows]="rows">
        </app-dashboard-inbound-levels>
      </article>

      <article>
        <app-dashboard-inbound-agents [rows]="rows">
        </app-dashboard-inbound-agents>
      </article>

      <article>
        <app-dashboard-inbound-breaks [rows]="rows">
        </app-dashboard-inbound-breaks>
      </article>
    </div>
  </section>

</main>